@font-face {
  font-family: "GraphikLCWeb";
  src: url("../fonts/Graphik-Regular-Web.woff") format("woff");
}
@font-face {
  font-family: "GraphikLCWeb";
  font-weight: 600;
  src: url("../fonts/Graphik-Bold-Web.woff") format("woff");
}
body {
  font-family: "GraphikLCWeb";
  font-weight: 400;
  text-align: center;
}
.benefits {
  display: flex;
  border-radius: 30px;
  background-image: linear-gradient(178deg, #7ffbff 7%, #bcbdff 92%);
}
.benefits_2 {
  padding-top: 50px;
}
.benefits_2 .title {
  margin-bottom: 17px;
  font-size: 72px;
  font-weight: 600;
  text-align: center;
  background: -webkit-linear-gradient(180deg, #0015ff 40%, #0099ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.benefits_2 .items_wrap {
  padding: 54px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.benefits_2 .items_wrap .item {
  width: 33%;
  max-width: 300px;
  text-align: center;
}
.benefits_2 .items_wrap .item .item_title {
  margin-top: 13px;
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 26px;
  background: -webkit-linear-gradient(180deg, #0099ff 40%, #0015ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.benefits_2 .items_wrap .item .item_text {
  line-height: 1.42;
  letter-spacing: -0.38px;
  font-size: 19px;
  color: #000;
}
.tariffs {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: linear-gradient(to bottom, #f7f9fc, #e0e8f4);
}
.tariffs:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  border: 100vw solid transparent;
  border-left: 0px solid #fff;
  border-top: 184px solid #fff;
  z-index: 1;
}
.tariffs .row {
  position: relative;
  z-index: 2;
}
.tariffs .title {
  font-size: 72px;
  font-weight: 600;
  text-align: center;
  background: -webkit-linear-gradient(180deg, #0015ff 40%, #0099ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tariffs .tariffs_wrap {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}
.tariffs .tariffs_wrap .tariff {
  position: relative;
  padding: 30px;
  padding-top: 105px;
  width: 50%;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 74px 0 rgba(0, 0, 0, 0.1);
}
.tariffs .tariffs_wrap .tariff:first-child {
  margin-right: 10px;
}
.tariffs .tariffs_wrap .tariff:last-child {
  margin-left: 10px;
}
.tariffs .tariffs_wrap .tariff .ico {
  position: absolute;
  top: -103px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 200px;
}
.tariffs .tariffs_wrap .tariff .title_1 {
  font-size: 30px;
  font-weight: 600;
  background: -webkit-linear-gradient(180deg, #bbbfc6 40%, #000 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tariffs .tariffs_wrap .tariff .title_1.purple {
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 0, 179, 0.95) 40%,
    #8300ff 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tariffs .tariffs_wrap .tariff .title_2 {
  font-size: 25px;
  padding-top: 3px;
  padding-bottom: 16px;
}
.tariffs .tariffs_wrap .tariff .title_3 {
  font-size: 70px;
  font-weight: 600;
  background: -webkit-linear-gradient(0deg, #00e598 30%, #238000 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tariffs .tariffs_wrap .tariff .btn {
  cursor: pointer;
  margin-top: 44px;
  padding: 9px 30px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(to bottom, #279cff, #0078fb 100%);
}
.tariffs .tariffs_wrap .tariff .btn:hover {
  background-image: linear-gradient(to bottom, #0078fb, #279cff 100%);
}
.tariffs .tariffs_wrap .tariff .btn span {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.64;
  letter-spacing: -0.44px;
  text-align: center;
  color: #ffffff;
}
.bottom {
  padding-top: 80px;
}
.bottom .link {
  font-size: 19px;
  line-height: 1.42;
  letter-spacing: -0.38px;
  padding-bottom: 13px;
  color: #000;
  position: relative;
  display: inline-block;
}
.bottom .link.color__blue:after {
  background-color: #0046ff;
}
.bottom .link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0;
  height: 2px;
  background-color: #000;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
.bottom .link:hover:after {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.bottom .visa {
  margin-top: 2px;
  max-width: 150px;
  width: 50%;
  float: left;
}
.main {
  display: inline-block;
  width: 100%;
  min-width: 1024px;
  max-width: 1200px;
}
.row {
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
}
.col1,
.col2,
.col3 {
  display: inline-block;
  vertical-align: top;
}
.col1 {
  width: 100%;
}
.col2 {
  width: 49.9%;
}
.col3 {
  width: 33%;
}
.color__blue {
  color: #0046ff !important;
}
.link {
  text-decoration: none;
}
.center {
  text-align: center;
}
